.zSidebar {
  &-logo {
    padding: 0 toRem(30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: toRem(77);
    background-color: $white;
    img {
      max-width: toRem(94);
      max-height: toRem(34);
    }
  }
  &-menu {
    > li {
      position: relative;
      padding: 0 toRem(12);
      &.sidebar-divider {
        border-top: toRem(1) solid $sidebar-divider;
        padding: 0;
        padding-top: toRem(13);
        padding-bottom: toRem(19);
        margin: toRem(18) toRem(30) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:not(&.sidebar-divider) {
        margin-bottom: toRem(5);
        // &.sidebar-divider {
        //   border-top: toRem(1) solid $main-color;
        //   padding-top: toRem(30);
        //   margin-top: toRem(30);
        //   display: flex;
        //   justify-content: space-between;
        //   align-items: center;
        // }
      }
      &:first-child {
        &.sidebar-divider {
          margin-top: 0;
          border-top: none;
        }
      }
      // &:not(:first-child) {
      //   &.sidebar-divider {
      //     border-top: toRem(1) solid $main-color;
      //     padding: toRem(10) toRem(12) toRem(9);
      //     margin: 0 toRem(12);
      //     display: flex;
      //     justify-content: space-between;
      //     align-items: center;
      //   }
      // }
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        max-width: 16px;
        max-height: 16px;
      }
      > a {
        position: relative;
        padding: toRem(12) toRem(18);
        border-radius: toRem(8);
        // svg {
        //   path,
        //   circle,
        //   rect {
        //     fill: $para-text;
        //   }
        // }
        span {
          position: relative;
          display: inline-block;
          @include fontFamily(14, $fw_semiBold, 14, $sidebar-text);
          transition: all 0.3s;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: calc(-1 * toRem(12));
            transform: translateY(-50%);
            width: toRem(5);
            height: toRem(5);
            border-radius: 50%;
            background-color: $sidebar-text;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
          }
        }
        &::before {
          // content: "\f105";
          // position: absolute;
          // font-family: "Font Awesome 6 Free";
          // font-size: toRem(13);
          // font-weight: 700;
          // color: $white-70;
          // top: 0;
          // right: toRem(16);
          // height: 100%;
          // line-height: toRem(48);
          // opacity: 0;
          // visibility: hidden;
          // -webkit-transition: -webkit-transform 0.3s;
          // transition: -webkit-transform 0.3s;
          // -o-transition: transform 0.3s;
          // transition: transform 0.3s;
          // transition: transform 0.3s, -webkit-transform 0.3s;
          position: absolute;
          content: "";
          width: 0.5em;
          height: 0.5em;
          border-width: 1px 0 0 1px;
          border-style: solid;
          border-color: $para-text;
          right: 1em;
          transform: rotate(135deg) translate(0, -50%);
          transform-origin: top;
          top: 50%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease-out;
        }
        ~ div .zSidebar-submenu {
          padding: toRem(10) 0 toRem(10) toRem(43);
          li {
            padding-bottom: toRem(6);
            &:last-child {
              padding-bottom: 0;
            }
            a {
              position: relative;
              padding-left: toRem(12);
              display: block;
              @include fontFamily(12, $fw_medium, 15, $para-text);
              &::before {
                content: "";
                position: absolute;
                top: toRem(5);
                left: 0;
                width: toRem(5);
                height: toRem(5);
                border-radius: 50%;
                background-color: $para-text;
              }
              &:hover,
              &.active {
                color: $main-color;
                &::before {
                  background-color: $main-color;
                }
              }
            }
          }
        }
        &.has-subMenu-arrow {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
        &:has(~ div ul.zSidebar-submenu li) {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
        &[aria-expanded="true"] {
          &::before {
            transform: rotate(227deg);
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(-1 * toRem(14));
          transform: translateY(-50%);
          width: toRem(2);
          height: 100%;
          background-color: $main-color;
          transition: all 0.3s;
        }
        &:hover,
        &.active {
          svg {
            path {
              fill: $main-color;
            }
          }
          .superAdmin-allOrder {
            svg {
              path {
                fill: transparent !important;
                stroke: $main-color;
              }
            }
          }
          &.menu {
            &-svg-stroke {
              svg {
                path {
                  fill: none;
                  stroke: $main-color;
                }
              }
            }
            &-subscription {
              svg {
                path {
                  &:first-child {
                    fill: none;
                    stroke: $main-color;
                  }
                }
              }
            }
          }
          span {
            color: $main-color;
            &::before {
              background-color: $main-color;
            }
          }
          &::before {
            border-color: $main-color;
          }
          &::after {
            left: -11px;
          }
        }
        &.active {
          span {
            &::before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        // &.active {
        //   ~ .collapse {
        //     display: block !important;
        //   }
        // }
      }
    }
  }
  &-fixed {
    max-height: calc(100% - toRem(85));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}
